@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&display=swap');

/* ------------------- */
/* Variables            */
/* ------------------- */
$s: 8px;

/* Colors */
$clrWhite: #e7e9ea;
$clrBlack: #000;
$clrTextGrey:  #71767b;
$clrBgGrey: #202327;
$clrMainAccent: #761df0;
$clrRetwadd: #00ba7c;
$clrLike: #f91880;
$clrError: rgb(244, 33, 46);

$clrWhiteHover: rgba(231, 233, 234,0.1);
$clrWhiteActive: rgba(231, 233, 234,0.2);
$clrMainAccentHover: rgba(118, 29, 240,0.15);
$clrMainAccentActive: rgba(118, 29, 240,0.25);
$clrRetwaddHover: 	rgba(0, 186, 124,0.15);
$clrRetwaddActive: 	rgba(0, 186, 124,0.25);
$clrLikeHover: 	rgba(249, 24, 128,0.1);
$clrLikeActive: 	rgba(249, 24, 128,0.2);



/* Typography */
$ff: 'Libre Franklin', sans-serif;

@mixin clickable() {
  @include opacityTransition();
  user-select: none;
  @media (any-hover: hover) { 
    &:hover {
      opacity: 0.8;
    }
  }
  &:active {
    opacity: 0.5;
  }
  &:disabled {
    opacity: 0.4 !important;
  }
}

@mixin bgTransition {
  transition: background-color 150ms ease-out;
}
@mixin opacityTransition {
  transition: opacity 100ms ease-out;
}

@mixin iconButtonWhiteHoverOnly() {
  @include bgTransition();
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrWhiteHover;
    }
  }
}
@mixin iconButtonWhite() {
  @include bgTransition();
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrWhiteHover;
    }
  }
  &:active {
    background-color: $clrWhiteActive;
  }
}

@mixin iconButtonMainAccentHoverOnly() {
  @include bgTransition();
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrMainAccentHover;
    }
  }
}

@mixin button() {
  @include clickable;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
}
@mixin iconButton() {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
}

@mixin iconButtonMainAccent() {
  @include bgTransition();
  @include iconButton;
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrMainAccentHover;
      & > svg {
        fill: $clrMainAccent;
      }
    }
  }
  &:active {
    background-color: $clrMainAccentActive;
  }
}

@mixin likeButton() {
  @include iconButton();
  @include bgTransition();
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrLikeHover;
      & > svg {
        fill: $clrLike;
      }
    }
  }
  &:active {
    background-color: $clrLikeActive;
  }
}
@mixin retwaddButton() {
  @include iconButton();
  @include bgTransition();
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrRetwaddHover;
      & > svg {
        fill: $clrRetwadd;
      }
    }
  }
  &:active {
    background-color: $clrRetwaddActive;
  }
}