@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;700&display=swap');

/* ------------------- */
/* Variables            */
/* ------------------- */
$s: 8px;

/* Colors */
$clrWhite: #e7e9ea;
$clrWhiteGlow: rgba(231, 233, 234,0.1);
$clrBlack: #000;
$clrTextGrey:  #71767b;
$clrBgGrey: #202327;
$clrMainAccent: #761df0;
$clrMainAccentGlow: rgba(118, 29, 240,0.15);
$clrRetwadd: #00ba7c;
$clrLike: #f91880;
$clrError: rgb(244, 33, 46);

/* Typography */
$ff: 'Libre Franklin', sans-serif;

@mixin clickable() {
  user-select: none;
  @media (any-hover: hover) { 
    &:hover {
      opacity: 0.8;
    }
  }
  &:active {
    opacity: 0.5;
  }
  &:disabled {
    opacity: 0.4 !important;
  }
}

@mixin hoverGlowWhite() {
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrWhiteGlow;
    }
  }
}

@mixin hoverGlowMainAccent() {
  @media (any-hover: hover) { 
    &:hover {
      background-color: $clrMainAccentGlow;
    }
  }
}