@use 'variables' as v;

.container {
  width: 233px + v.$s*4;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-left: v.$s*1.5;
  padding-right: v.$s*1.5;
}
.containerOffset {
  width: 233px + v.$s*4;
  height: 100vh;
}
.linkList {
  margin: v.$s 0;
  .link {
    display: inline-flex;
    align-items: center;

    .icon {
      width: 28px;
      display: flex;
      align-items: center;
    }
    .text {
      user-select: none;
      margin-left: v.$s*2.5;
      margin-right: v.$s*2;
    }
  }
}
.linkGlow,.accountButton {
  @include v.iconButtonWhiteHoverOnly;
  padding: v.$s*1.5;
  display: inline-flex;
  border-radius: 9999px;

  &.logo {
    @include v.iconButtonMainAccentHoverOnly;
    margin-bottom: v.$s;
  }
  &.accountButton {
    @include v.iconButtonWhite;
  }
}

.button {
  @include v.button;
  width: 225px;
  padding: v.$s*2 0;
  background-color: v.$clrMainAccent;
}
.accountButtonContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding: v.$s*1.5 0;
}
.accountButton {
  background-color: v.$clrBlack;
  position: sticky;
  display: flex;
  align-items: center;
  width: 233px;
  & * {
    user-select: none;
  }

  .avatar {
    width: 40px;
    height: 40px;
    background-color: v.$clrBgGrey;
    border-radius: 9999px;
  }
  .textContainer {
    margin-left: v.$s*2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .icon {
    width: 19px;
    display: flex;
    align-items: center;
  }
}