@use 'variables' as v;

.userListContainer {
  width: 390px;
  border-left: v.$border;
  border-right: v.$border;
  overflow: auto;
  height: 100vh;
  position: relative;

  .searchBar {
    height: 42px;
    margin: 12px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: v.$s*1.5;
    border: v.$border;
    .icon {
      display: flex;
      align-items: center;
      padding-left: v.$s*0.5;
      & > svg {
        width: 14px;
        fill: v.$clrTextGrey;
      }
    }
    .input {
      caret-color: v.$clrMainAccent;
      padding: v.$s*1.5;
      font-size: 14px;
      
      &:focus-visible {
        flex-grow: 1;
      }
    }
    &:focus-within {
      border: 1px solid v.$clrMainAccent;
    }
  }
}
.sectionTitleContainer {
  position: absolute;
  height: 56px;
  width: 100%;
  padding-left: v.$s*2;
  padding-right: v.$s*1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.65);
  backdrop-filter: blur(12px);
  border-bottom: none;
  z-index: 10;
  .iconButton {
    @include v.iconButtonWhite;
    @include v.iconButton;
    width: 36px;
    height: 36px;
    & > svg {
      fill: v.$clrWhite;
    }
  }
}
.sectionTitleOffset {
  height: 56px;
  border-bottom: none;
}
.user {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 16px;
  .avatar {
    width: 48px;
    height: 48px;
    background-color: v.$clrBgGrey;
    border-radius: 9999px;
    margin-right: 12px;
  }
}
.headerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 280px 1 1;
  .displayName {
    margin-right: 4px;
  }
  .greyText {
    color: v.$clrTextGrey;
  }
  .bodyText {
    margin-top: 2px;
    overflow-wrap: anywhere;
  }
}
.chatbox {
  width: 600px;
  border-right: v.$border;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chatboxTitle {
  font-size: 17px;
  font-weight: 700;
}

.messageInput {
  border-top: v.$border;
  padding: 4px 12px;
}

//MESSAGE INPUT
.messageInputBox {
  height: 44px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-left: v.$s*1.5;
  padding-right: v.$s*1.5;
  & {
    background-color: v.$clrBgGrey;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
      width: 14px;
      fill: v.$clrTextGrey;
    }
  }
  .input {
    padding: v.$s*1.5;
    flex-grow: 1;
  }
}
.messageInput {
  .imageUploadInput {
    display: none;
  }
  .inputOptionsContainer {
    display: flex;
  }
  .iconContainer {
    @include v.iconButtonMainAccent;
    width: 34px;
    height: 34px;
  }
  .icon {
      display: flex;
      align-items: center;
      & > svg {
        width: 18px;
        height: 18px;
        fill: v.$clrMainAccent;
      }
  }
}

//CHAT
.chat {
  flex-grow: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
.messageContainer {
  margin: 3px 0;
  display: flex;
  flex-wrap: wrap;
}
.message {
  padding: 12px 16px;
  background-color: v.$clrBgGrey;
  border-radius: 24px;
  max-width: 60%;
  display: inline-block;
  &.myMessage {
    background-color: v.$clrMainAccent;
    margin-left: auto;
  }
}

// New Conversation
.newConvo {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  margin:auto;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 32px;
  padding-right: 32px;
  .title {
    font-size: 31px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: v.$s;
  }
  .subtext {
    color: v.$clrTextGrey;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  .button {
    padding-left: 32px;
    padding-right: 32px;
    background-color: v.$clrMainAccent;
    color: v.$clrWhite; 
    height: 52px;
    @include v.button;
  }
}
.dialog {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 650px;
  background-color: v.$clrBlack;
  border-radius: 16px;
  padding-top: 95px;
}
.header {
  width: 100%;
  padding: 0 (v.$s * 2);
  border-bottom: 1px solid v.$clrBgGrey;
  position: absolute;
  top: 0;
  left: 0;

  .top {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headerLeft {
      display: flex;
      align-items: center;
    }
    
    h2 {
      margin-left: v.$s * 4.5;
      letter-spacing: 1px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }
    .closeIconContainer {
      @include v.iconButtonWhite;
      @include v.iconButton;
      width: 36px;
      height: 36px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .nextButton {
      @include v.button;
      height: 32px;
      padding: 0 16px;
      background-color: v.$clrWhite;
      span {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: v.$clrBlack;
      }
    }
  }
  .searchBar {
    height: 42px;
    display: flex;
    align-items: center;
    &:focus-within svg {
      fill: v.$clrMainAccent !important;
    }
    .icon {
      display: flex;
      align-items: center;
      width: 36px;
      justify-content: center;
      & > svg {
        width: 20px;
        fill: v.$clrTextGrey;
      }
    }
    input {
      padding: v.$s*1.5;
      font-size: 15px;
      flex-grow: 1;
      line-height: 20px;
    }
  }
}
.newMsgUsers {
  overflow: auto;
  height: 100%;

  .user {
    padding: 12px 32px;
    display: flex;
    gap: 12px;
    &:hover {
      background-color: rgb(22, 24, 28);
    }
    .icon {
      width: 40px;
      height: 40px;
      border-radius: 9999px;
      background-color: v.$clrBgGrey;
    }
    .displayName {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
    }
    .greyText {
      font-size: 15px;
      line-height: 20px;
      color: v.$clrTextGrey;
    }
  }
}