@use 'variables' as v;

.container {
}

.header {
  margin: v.$s*1.5 v.$s*2;
  display: flex;
}

.headerLeft {
  display: flex;
  flex-grow: 1;
  .avatar {
    border-radius: 9999px;
    width: 48px;
    height: 48px;
    background-color: v.$clrBgGrey;
  }
  .headerText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: v.$s*1.5;
    .displayName {
      margin-right: 4px;
    }
    .greyText {
      color: v.$clrTextGrey;
    }
    .bodyText {
      margin-top: 2px;
    }
  }
}

.moreIcon {
  @include v.iconButtonMainAccent;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: v.$s * -1;

  & > svg {
    width: 16px;
    fill: v.$clrTextGrey;
  }
}

.media,.actions {
  margin: 0 v.$s*2 0 76px;
}
.media {
  background-color: v.$clrBgGrey;
  min-height: 272px;
  max-width: 506px;
  border-radius: 12px;
  display: flex;
  overflow: scroll;
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

  .image {
    width: 400px;
    object-fit: cover;
  }
}
.actions {
 margin-top: v.$s*0.5;
 margin-bottom: v.$s*0.5;
 position: relative;
 display: flex;
 justify-content: space-between;
 left: v.$s*-1;
 right: 0;
 & > * {
  width: 35px;
  height: 35px;
 }
 .action {
  display: flex;
  align-items: center;
  @media (any-hover: hover) { 
    &:hover > div,&:hover > span {
      background-color: v.$clrMainAccentHover;
      color: v.$clrMainAccent;
      & > svg {
        fill: v.$clrMainAccent;
      }
    }
  }
  &:active div {
    background-color: v.$clrMainAccentActive;
  }
}
.actionText {
  padding: 0 v.$s*1.5
}
 svg,.actionText {
  width: 16px;
  fill: v.$clrTextGrey;
  color: v.$clrTextGrey;
 }
 .commentButton {
  @include v.iconButtonMainAccent;
 }
 .retwaddButton {
  @include v.retwaddButton;
  & svg {
    width: 21px;
  }
 }
 .likeButton {
  @include v.likeButton;
 }
 .shareButton {
  @include v.iconButtonMainAccent;
  & svg, &:hover svg {
    fill: none;
  }

  & svg, & svg * {
    stroke: v.$clrTextGrey;
  }
  &:hover svg * {
    stroke: v.$clrMainAccent;
  }
 }
}
