@use 'variables' as v;

.container {
}

.header {
  margin: v.$s*1.5 v.$s*2;
  display: flex;
}

.headerLeft {
  display: flex;
  flex-grow: 1;
  .avatar {
    border-radius: 9999px;
    width: 48px;
    height: 48px;
    background-color: v.$clrBgGrey;
  }
  .headerText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: v.$s*1.5;
    .displayName {
      margin-right: 4px;
    }
    .greyText {
      color: v.$clrTextGrey;
    }
    .bodyText {
      margin-top: 2px;
    }
  }
}

.moreIcon {
  @include v.iconButtonMainAccent;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: v.$s * -1;

  & > svg {
    width: 16px;
    fill: v.$clrTextGrey;
  }
}

.media,.actions {
  margin: 0 v.$s*2 0 76px;
}
.media {
  background-color: v.$clrBgGrey;
  min-height: 272px;
  max-width: 506px;
  border-radius: 12px;
  display: flex;
  overflow: scroll;
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

  .image {
    height: 272px;
    object-fit: cover;
  }
}
.actions {
  margin-top: v.$s*0.5;
  margin-bottom: v.$s*0.5;
  position: relative;
  display: flex;
  justify-content: space-between;
  left: v.$s*-1;
  right: 0;
  & > * {
    width: 35px;
    height: 35px;
  }
  .action {
    display: flex;
    align-items: center;
    position: relative;
    & > * {
      display: flex;
      align-items: center;
      position: absolute;
    }
    & > div {
      left: 0px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      border-radius: 9999px;
    }
    & > span {
      left: 26px;
      user-select: none;
    }
  }
}
.actionText {
  padding: 0 v.$s*1.5
}
svg,.actionText {
  width: 16px;
  height: 16px;
  fill: v.$clrTextGrey;
  color: v.$clrTextGrey;
}
.action { //individual button colors
  @media (any-hover: hover) { 
    &:hover{
      &.commentAction {
        .commentButton {
          background-color: v.$clrMainAccentHover;
          & > svg {
            fill: v.$clrMainAccent;
          }
        }
        &.commentAction span {
          color: v.$clrMainAccent;
        }
      }
      &.retwaddAction {
        .retwaddButton {
          background-color: v.$clrRetwaddHover;
          & > svg {
            fill: v.$clrRetwadd;
          }
        }
        &.retwaddAction span {
          color: v.$clrRetwadd;
        }
      }
      &.likeAction {
        .likeButton {
          background-color: v.$clrLikeHover;
          & > svg {
            fill: v.$clrLike;
          }
        }
        &.likeAction span {
          color: v.$clrLike;
        }
      }
    }
  }
  &:active {
    &.commentAction .commentButton {
      background-color: v.$clrMainAccentActive;
    }
    &.retwaddAction .retwaddButton {
      background-color: v.$clrRetwaddActive;
    }
    &.likeAction .likeButton {
      background-color: v.$clrLikeActive;
    }
  }
}
.shareButton {
  @include v.iconButtonMainAccent;
  & svg, &:hover svg {
    fill: none;
  }

  & svg, & svg * {
    stroke: v.$clrTextGrey;
  }
  &:hover svg * {
    stroke: v.$clrMainAccent;
  }
}
