@use 'variables' as v;

.form {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  max-height: 90vh;
  background-color: v.$clrBlack;
  border-radius: 16px;
  padding: 0 (v.$s * 10);
  padding-top: 53px;
}

.header {
  width: 100%;
  height: 53px;
  padding: 0 (v.$s * 2);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  svg {
    width: 20px;
  }
  h2 {
    margin-left: v.$s * 4.5;
    letter-spacing: 1px;
  }
  .closeIconContainer {
    @include v.clickable;
  }
}
.stepContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stepTitle {
  font-size: 31px;
  line-height: 36px;
  font-weight: 700;
  margin: (v.$s * 2.5) 0;
  margin-bottom: v.$s * 4;
}

.inputContainer {
  position: relative;
  margin-bottom: v.$s * 3;
  padding: v.$s*1;
  padding-top: v.$s * 3.5;
  border: 1px solid v.$clrTextGrey;
  border-radius: 4px;

  .label {
    top: v.$s * 1;
    left: v.$s * 1;
    position: absolute;
    color: v.$clrTextGrey;
    pointer-events: none;
    user-select: none;
  }
  .input {
    width: 100%;
  }

  .inputFlex {
    display: flex;
    .input {
      flex-grow: 1;
    }
    .icon {
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: v.$s * 0.25;
      padding-left: v.$s;
    }
  }

  &.focus,&:focus-within {
    border-color: v.$clrMainAccent;
    box-shadow: v.$clrMainAccent 0px 0px 0px 1px;
    .label {
      color: v.$clrMainAccent;
    }
  }
  &.error {
    border-color: v.$clrError;
    box-shadow: v.$clrError 0px 0px 0px 1px;
    .label {
      color: v.$clrError;
    }
  }
}

.subTitle {
  margin-top: v.$s * 2.5;
  margin-bottom: v.$s;
}
.subBody {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: v.$clrTextGrey;
}
.dateInputContainer {
  margin: (v.$s * 2) 0;
  display: flex;
  & > * + * {
    margin-left: v.$s * 1.5;
  }
}
.inputContainer {
  &.month {
    flex-basis: 45%;
  }
  &.day {
    flex-basis: 25%;
  }
  &.year {
    flex-basis: 30%;
  }
}
.buttonContainer {
  margin: (v.$s * 3) 0;
  width: 100%;
  &.signInButtonContainer {
    margin-bottom: v.$s * 6;
  }
}
@mixin button($bgColor,$color){
  @include v.clickable;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: v.$s * 3;
  height: 52px;
  width: 100%;
  border-radius: 9999px;
  border: none;
  background-color: $bgColor;
  color: $color;
}
.signUpButton {
  @include button(v.$clrMainAccent,v.$clrWhite);
}
.nextButton {
  @include button(v.$clrWhite,v.$clrBlack);
}

//STEP 2
.step2Title {
  margin:0;
  margin-top: v.$s*2.5;
}
.verifyText {
  margin-top: v.$s;
  margin-bottom: v.$s*3;
  color: v.$clrTextGrey;
}
.checkbox {
  margin-right: v.$s * 1.5;
  width: 40px;
}
.enableNotifText {
  display: inline-block;
  margin-top: 0;
  margin-bottom: v.$s * 3;
  font-size: 17px;
}
.inputTooltip {
  margin-top: - v.$s * 2;
  color: v.$clrError;
  margin-bottom: v.$s * 2;
}
.link {
  @include v.clickable;
  color: v.$clrMainAccent;
  position: relative;
  display: inline-block;
  user-select: none;
  top: v.$s * -2;
  margin-left: v.$s;
}
.twitterIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  & svg {
    width: 100%;
  }
}
//sign in form divider
.divider {
  border-bottom: 1px solid v.$clrBgGrey;
  margin: (v.$s * 2.5) 0;
  position: relative;

  .text {
    width: v.$s * 3.5;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: v.$clrBlack;
    transform: translate(-50%,-50%);
  }
}
.googleButton {
  @include v.clickable;
  height: 38px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.light {
    color: v.$clrBlack;
    background-color: v.$clrWhite;
    svg {
      width: 18px;
      fill: v.$clrBlack;
    }
    span {
      margin-left: 8px;
    }
  }
}